---
import GithubLogo from '../assets/images/svg/github.svg?raw';
import LinkedInLogo from '../assets/images/svg/linkedin.svg?raw';
---

<footer class="footer footer-center p-10">
    <nav>
        <div class="grid grid-flow-col gap-4">
            <a href="https://github.com/Proxima-Centaurii" class="size-10"><Fragment set:html={GithubLogo}/></a>
            <a href="https://www.linkedin.com/in/vasile-alexandru-ciulea-562628102" class="size-10"><Fragment set:html={LinkedInLogo}/></a>
        </div>
    </nav>
</footer>