---
const {sectionId ,  sectionTitle} = Astro.props;
---

<section id={sectionId} class="prose prose-md max-w-none my-16">
    
    <header class="mb-8">
        <div class="sm:divider">
            <h1 class="my-0 mx-4 text-primary text-drop-shadow-2">{sectionTitle}</h1>
        </div>
    </header>

    <slot />

</section>